#easy1 {
    width: 100px;
    height: 100px;
    border-radius: 150px;
    border-color: black;
    background-color: red;
    font-size: 20px;
    color: white;
}

#easy2 {
     width: 100px;
    height: 100px;
    border-radius: 150px;
    border-color: black;
    background-color: red;
    font-size: 20px;
    color: white;
}

#easy3 {
     width: 100px;
    height: 100px;
    border-radius: 150px;
    border-color: black;
    background-color: red;
    font-size: 20px;
    color: white;
}